
.b-navBar{
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
// .b-footer__name{
//     text-transform: none;
//     text-decoration: none;
//     font-family:'Thrones';
//     size: 36px;
//     color: white;
// }
.Cronologia {
    text-decoration: none;
    text-align: center;
    width: 15vw;
    height: 44px;
    margin: 0 8.4vw 2px 8.4vw;
    font-family: Thrones;
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #d4d4d4;
}
.Casas {
    text-decoration: none;
    text-align: center;
    width: 15vw;
    height: 44px;
    margin: 0 8.4vw 2px 8.4vw;
    font-family: Thrones;
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #d4d4d4;
  }
  .Personajes {
    text-decoration: none;
    text-align: center;
    width: 15vw;
    height: 44px;
    margin: 0 8.4vw 2px 8.4vw;
    font-family: Thrones;
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color:  #d4d4d4;
  }