@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
html,
body {
    font-family: 'Lato', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    color: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    font-style: normal;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

a:link,
a:visited {
  text-decoration:none;
}
input {
  outline: 0;
  border-width: 0 0 2px;
}
input:hover,
input:focus {
  background-color: transparent;
}
button:hover {
  background-color: transparent;
}

ul,li {
  list-style-type:none;
}
ul{
  list-style:none;
  padding-left:0;
}

li{
  display:block;
  text-align:center;
}
Link:link,
Link:visited {
  text-decoration:none;
}