.b-background{
  height: 100vh;
  width: 100vw;
  background-color: rgba(18, 19, 22, 1);
  position: absolute;
}
.b-header{
  height: 15vh;
  width: 100vw;
  display: flex;
  align-items: center;

}
.b-buscador{
  height: 10vh;
  width: 40vw;
  border-bottom: 2px solid white;
  img{
      height: 5vh;
      width: auto;
  }
  input{
      color:white;
      background-color: transparent;
  }
}

.b-personajes {
    width: 100vw;
    height: 70vh;
    background-color:rgba(18, 19, 22, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }  
  .b-characters-holder{
    width: 85vw;
    height: 67vh;
  }
  .simplebar-content { 
    width: 85vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
    margin-bottom: 100px;
} 
.simplebar-scrollbar::before {
  background: rgba(255, 255, 255, 0.8);
  height: 100px;
  width: 4px;
}
.simplebar-placeholder{
    width: 85vw;
    height: 70vh;
}
.simplebar-track.simplebar-vertical{
  visibility: visible;
  width: 5px;
  height: 70vh;
  background-image: white;
  

}
.b-gallery{
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: center; 
  // position: relative;
  // top: 25px;
  // padding-bottom: 7%;
  // padding-top: 20px;
  // &::-webkit-scrollbar{
  //   width: 2PX;
  // }
  // &::-webkit-scrollbar-track{
  //   background: #443d3d;
  // }
  // &::-webkit-scrollbar-thumb{
  //   background-color: white;
  //   border-radius: 10px;
  //   border:2px solid orange;
  // }
}
.b-gallery__box{
    margin: 12px;
    width: 13vw;
    height: 30vh;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
  }
  .b-img{
    display: block;
    width: 13vw;
    height: 30vh;
    object-fit:cover;
    div{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 13vw;
      height: 5.2vh;
      h4{
        width: 13vw;
        text-align: center;
        font-family: 'Thrones';
        color: white;
        text-decoration: none;
        position: absolute;
        bottom: 0;
        opacity: 0;
        background-color: #4c4c4c86;
        transition: 1.5s ease;
      }
    }
  }
  .b-img__name{
    width: 13vw;
    text-align: center;
    font-family: 'Thrones';
    color: white;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    opacity: 0;
    background-color: #4c4c4c86;
    transition: 1.5s ease;
    // display: none;
  }  
  .b-div-name{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13vw;
    height: 5.2vh;
  }
//   .b-img__name:hover{
//     font-family: 'Thrones';
//     color: white;
//     text-decoration: none;
//     position: relative;
//     bottom: 80px;
//   } 
.b-gallery__box:hover .b-img__name{
    opacity: 1;
  }
